.App {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-table {
  margin-top: 1rem;
}

.score-table tr {
  text-align: center;
}

.input-table {
  margin-top: 1rem;
}

.input-table tr td {
  text-align: center;
  vertical-align: middle;
  height: 77px;
}

.strike-out-label {
  text-decoration: line-through;
}

.input-table-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
